<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventForm-Registrazione</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="register-form">
        <h2><a routerLink="/home" class="logo">EventForm</a></h2>
        <h3>Registrati</h3>     
        <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)" novalidate>
            
        <input type="text" name="name" ngModel placeholder="Nome completo" required #name="ngModel" />
        <div *ngIf="name.invalid && name.touched">Il nome è richiesto</div>
        
        <input type="email" name="email" ngModel placeholder="Email" required #email="ngModel" />
        <div *ngIf="email.invalid && email.touched">L'email è richiesta</div>
        
        <input type="password" name="password" ngModel placeholder="Password" required #password="ngModel" />
        <div *ngIf="password.invalid && password.touched">La password è richiesta</div>
        
        <input type="tel" name="phone" ngModel placeholder="Numero di telefono" required #phone="ngModel" />
        <div *ngIf="phone.invalid && phone.touched">Il numero di telefono è richiesto</div>

        <button type="submit" [disabled]="registerForm.invalid">Crea account</button>
        <!-- Mostra il messaggio di errore -->
        <div *ngIf="RegistrationFailed" class="error-message">{{ RegistrationFailed }}</div>
        <!-- Mostra il messaggio di Successo -->
        <div *ngIf="RegistrationSuccess" class="message">{{ RegistrationSuccess }}</div>
      </form>
      
      <p>Nome: {{ name.value }}</p>
      <p>Email: {{ email.value }}</p>
      <p>Password: {{ password.value }}</p>
      <p>Cellulare: {{ phone.value }}</p>
      <p>Form value: {{ registerForm.value | json }}</p>
      <p>Form valid: {{ registerForm.valid }}</p>
    </div>
</body>
</html>
