<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventForm - Cerca Eventi</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    	
	<header>
        <h1><a routerLink ="/home">EventForm</a> </h1>
    </header>
    <div class="content">
        <h2>Cerca Eventi</h2>
        <p>Inserisci il nome dell'evento che desideri cercare.</p>
        <form #searchForm="ngForm" (ngSubmit)="searchEvents(searchForm)" novalidate>

            <div>
                <label for="eventName">Nome Evento:</label>
                <input type="text" id="eventName" name="eventName" ngModel required #eventName="ngModel">
                <div *ngIf="eventName.invalid && eventName.touched">Il nome dell'evento è richiesto</div>
            </div>
        
            <button type="submit" [disabled]="searchForm.invalid">Cerca</button>
        
        </form>
    </div>
	<footer>
        <p><a routerLink="/home" class="btn">Torna alla Home</a></p>
    </footer>

    <footer>
        <p>&copy; 2024 EventForm. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
