<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventForm - Home</title>
    <link href="home.component.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>EventForm</h1>
    </header>
    <nav>
        <a routerLink="/login">Login</a>
        <a routerLink="/registration">Registrati</a>
    </nav>
    <div class="content">
        <h2>Scopri i nostri eventi</h2>
        <p>Consulta la lista degli eventi disponibili e prenota il tuo posto ora!</p>
        <a href="events.html" class="btn">Visualizza Eventi</a>
    </div>
    <a routerLink="/search" class="btn btn-search">Cerca Eventi</a>
    <a routerLink="/ia" class="btn btn-ai">Interagisci con un IA </a>
    <footer>
        
    </footer>
</body>
</html>